target
!.mvnwrappermaven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.iws
.iml
.ipr

### NetBeans ###
nbprojectprivate
build
nbbuild
dist
nbdist
.nb-gradle

##node_modules##
node_modules
